@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Luckiest+Guy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-once {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }
  
  .spin-once {
    animation: spin-once 1s ease-in-out forwards;
  }